html{
	user-select: none;
	-moz-user-select: none;
}

body, input, button, select, textarea{
	font-family: 微软雅黑, 宋体, Arial;
}

body{
	background: #909090;
	text-align: center;
	margin: 0;
	padding: 0;
}

#screen{
	background: black;
	width: 960px;
	height: 540px;
	margin: 0 auto;
	color: white;
	font-size: 40pt;
	line-height: 540px;
}

#screen > img{
	width: 100%;
	height: 100%;
}

ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

ul#scene-map{
	margin-top: 20px;
}

ul#scene-map > li{
	display: inline-block;
	margin: 5px;
}

ul#scene-map > li > button{
	background: #007ACC;
	color: white;
	border: #008ADD 1px solid;
	padding: 1em;
	width: 100%;
	font-size: 12pt;
}

ul#scene-map > li > button:hover{
	box-shadow: #009ADD 0 0 5px;
}
